/* src/frontend/src/components/theme-toggle.css */

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > .sun-beams {
  stroke-width: 2px;
}

/* Dark state */
.sun-and-moon.dark > .sun {
  transform: scale(1.75);
}

.sun-and-moon.dark > .sun-beams {
  opacity: 0;
}

.sun-and-moon.dark > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1px) {
  .sun-and-moon.dark > .moon > circle {
    cx: 17px;
    transform: translateX(0);
  }
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25);
  }

  .sun-and-moon > .sun-beams {
    transition:
      transform 0.5s cubic-bezier(0.5, 1.5, 0.75, 1.25),
      opacity 0.5s ease-out;
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s ease-out;
  }

  @supports (cx: 1px) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s ease-out;
    }
  }

  .sun-and-moon.dark > .sun {
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
  }

  .sun-and-moon.dark > .sun-beams {
    transition-duration: 0.15s;
    transform: rotateZ(-25deg);
  }

  .sun-and-moon.dark > .moon > circle {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}
