.theme-toggle {
  --theme-toggle__classic--duration: 500ms;

  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle__classic g,
.theme-toggle__classic path,
.theme-toggle__classic circle {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__classic--duration) * 0.65)
    cubic-bezier(0, 0, 0, 1.25);
}

.theme-toggle__classic clipPath path {
  transition: transform calc(var(--theme-toggle__classic--duration) * 0.65)
    cubic-bezier(0, 0, 0.3, 1);
}

.theme-toggle--toggled .theme-toggle__classic clipPath path {
  transform: translate(14px, 0);
}

.theme-toggle--toggled .theme-toggle__classic g:first-child {
  transform: rotate(45deg);
}

.theme-toggle--toggled .theme-toggle__classic g g {
  transform: rotate(-45deg) scale(0);
}
